.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  background: rgba(248, 244, 244, 0.971);
  border-top: 1px solid #e5e5e5;
  padding: .5rem 1rem;
  /* z-index: 1000; */
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footerDiv {
  position: relative;
}
.footerMapBtn {
  position: absolute;
  bottom: 160%;
  left: 40%;
  padding: .1rem .8rem;
  color: white;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ciMap {
  margin-left: .4rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footerContent li {
  color: rgba(143, 143, 161, 0.577);
  font-size: 20px;
  padding-bottom: -10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footerContent li span {
  /* color: rgba(0, 0, 255, 0.601); */
  font-size: .8rem;
}

.footerIcon {
  position: relative;
  left: 30%;
  margin-bottom: .4rem;
  color: rgba(143, 143, 161, 0.577);
}



.footerIconHome{
  position: relative;
  left: 30%;
  margin-bottom: .4rem;
  color: blue;
}

.footerContent li .homeTxt{
    margin-left: .4rem ;
    color: blue;
  }


@media (max-width: 375px) {
  .footer{
    max-width: 375px;
    min-width: 320px;
    padding: .5rem 1rem;
  }

  
  .footerContent li{
    font-size: 1.3rem;
  }
  .footerContent li span{
    font-size: .7rem;
  }

  .footerContent li .homeTxt{
    margin-left: .4rem ;
  }
  .footerContent li .profileTxt{
    margin-left: .5rem ;
  }

}