.Nav {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

.navList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-content: center;
}

.navList li {
  position: relative;
}

.navList li .navLinkList .navLink1 {
  font-size: 2.2rem;
  border-radius: 40px 40px;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem;
}
.navList li .navLinkList .navLink2 {
  font-size: 2.2rem;
  border-radius: 40px 40px;
  background-color: blue;
  color: white;
  padding: 0.4rem;
}
.navList li .navLinkList .navLink3 {
  font-size: 2.2rem;
  border-radius: 40px 40px;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem;
}
.navList li .navLinkList .navLink4 {
  font-size: 2.2rem;
  border-radius: 40px 40px;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem;
}
.navList li .navLinkList .navLink5 {
  font-size: 2.2rem;
  border-radius: 40px 40px;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem;
}

.navList li span {
  position: absolute;
  top: 120%;
  font-size: 0.7rem;
}

.navList li .navLinkList .landTxt {
  margin-left: 6px;
}
.navList li .navLinkList .resTxt {
  margin-left: -5px;
}
.navList li .navLinkList .commTxt {
  margin-left: -4px;
}
.navList li .navLinkList .agriTxt {
  margin-left: -1px;
}
.navList li .navLinkList .indTxt {
  margin-left: 1px;
}

@media (max-width: 375px) {
  .Nav {
    max-width: 375px;
    max-width: 375px;
    /* border: 1px solid rgb(0, 255, 17); */
  }

  .navList {
    padding: -23px;
  }

  .navList li {
    position: relative;
  }
  .navList li .navLinkList .navLink1 {
    font-size: 2.2rem;
    border-radius: 40px 40px;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
  }
  .navList li .navLinkList .navLink2 {
    font-size: 2.2rem;
    padding: 0.4rem;
    border-radius: 40px 40px;
    background-color: blue;
    color: white;
  }
  .navList li .navLinkList .navLink3 {
    font-size: 2.3rem;
    padding: 0.4rem;
    border-radius: 40px 40px;
    background-color: rgb(255, 255, 255);
  }
  .navList li .navLinkList .navLink4 {
    font-size: 2.3rem;
    padding: 0.4rem;
    border-radius: 40px 40px;
    background-color: rgb(255, 255, 255);
  }
  .navList li .navLinkList .navLink5 {
    font-size: 2.2rem;
    padding: 0.4rem;
    border-radius: 40px 40px;
    background-color: rgb(255, 255, 255);
  }

  .navList li span {
    position: absolute;
    top: 120%;
    font-size: 0.6rem;
  }

  .navList li .navLinkList .landTxt {
    margin-left: 6px;
  }
  .navList li .navLinkList .resTxt {
    margin-left: -5px;
  }
  .navList li .navLinkList .commTxt {
    margin-left: -4px;
  }
  .navList li .navLinkList .agriTxt {
    margin-left: -1px;
  }
  .navList li .navLinkList .indTxt {
    margin-left: 1px;
  }
}
